body p, li {
    text-align: justify;
    font-size: 2.5vmin;
}

@media screen and (min-width:750px) {
    body p, li {
        font-size: 2vmin;
    }
}

.logo-asso {
    height: 3em;
}

h1 {
    font-size: 5vw;
    margin: 0.5em 0 0.5em 0;
}

@media screen and (min-width:700px) {
    h1 {
        font-size: 4.5vw;
    }
}

@media screen and (min-width:900px) {
    h1 {
        font-size: 3vw;
    }
}

@media screen and (min-width:1300px) {
    h1 {
        font-size: 2.5vw;
    }
}